body {
  font-family: 'Sofia Sans', sans-serif;
  color: white;
  background-color: #000;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-icon {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 3px;
  transition: 0.15s;
}

.home-icon:hover {
  color: rgb(255, 183, 0);
  cursor: pointer;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  margin-right: 20px;
}

.nav-item {
  transition: 0.15s;
}

.nav-item:hover {
  cursor: pointer;
  color: rgb(255, 183, 0);
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 200px;
  margin-top: 150px;
  line-height: 180px;
  margin-left: 50px;
  cursor: default;
}

.connect4 {
  text-decoration: none;
  color: rgb(255, 183, 0);
}
