html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sofia Sans', sans-serif;
  color: white;
  background-color: #000;
  margin: 0;
  padding-bottom: 2000px;
  min-width: 750px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.15s;
}

a:hover {
  color: rgb(255, 183, 0);
  cursor: pointer;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 750px;
}

.letter {
  color: white;
  transition: 0.1s;
}

.letter:hover {
  color: rgb(255, 183, 0);
}

.connect4 {
  color: rgb(255, 183, 0);
  transition: 0.1s;
}

.connect4:hover {
  color: white;
}

.all-caps {
  font-family: 'Bebas Neue', cursive;
}

.home-icon {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 3px;
  transition: 0.15s;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  margin-right: 20px;
}

.nav-item {
  transition: 0.15s;
}

.nav-item:hover {
  cursor: pointer;
  color: rgb(255, 183, 0);
}

.title {
  font-size: 200px;
  margin-top: 150px;
  line-height: 180px;
  margin-left: 50px;
  margin-bottom: 150px;
  cursor: default;
}

.ringo-link {
  color: rgb(255, 183, 0);
}

.general-description {
  margin: 0 50px;
  font-size: 40px;
}

.subheading {
  margin-left: 50px;
  font-size: 60px;
  margin-top: 100px;
  color: rgb(255, 183, 0);
}

#team-profile,
#description,
#skills-jobs,
#project-outcomes,
#reflection {
  padding: 1px;
}

.description-text {
  font-size: 25px;
}

li {
  margin-left: 100px;
  margin-right: 50px;
  font-size: 25px;
}
